
/* header */

.c-header ul.d-none.d-lg-block {
    margin-right: 26%;
}

.c-header ul.d-none.d-lg-block h2 {
    width: 400px;
    margin-top: 10px;
}
/* header */



/* rooms */
.room-form-edit input {
    border-radius: 0px;
}
.room-form-edit .custom-file-label {
    border-radius: 0px;
}
/* ./room */

/** ############################ ./Catalog ################################### **/

.room_checkbox {
    overflow-y: scroll;
    height: 180px;
}


.btnAdd{
    margin-left: 50%;
}

.sub-category-btn{
    overflow-x: scroll;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.sub-category-btn .btn{
    margin-bottom: 5px;
    white-space: pre;
    border-left: 1px solid #b2b8c1;
}

/* width */
.sub-category-btn::-webkit-scrollbar {
    width: 10px;
    padding-top: 5px;
}

/* Track */
.sub-category-btn::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.sub-category-btn::-webkit-scrollbar-thumb {
    background: #a4d6a4;
    border-radius: 10px;
}

/* All catalogs */
.all-catalogs{
    display: flex;
    flex-wrap: wrap;
}


/* One catalog */
.catalog{
    display: flex;
    margin-bottom: 20px;
    padding: 0px;
    width: 48.5%;
    /*height: 25% !important;*/
    border: 1px solid lightgray;
}

.catalog:nth-child(odd) {
    margin-right: 1%;
}
.catalog:nth-child(even) {
    margin-left: 1.5%;
}

.catalog .image{
    width: 60%;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    /*transform: rotate(90deg) !important;*/
}

.catalog .table-btns {
    width: 40%;
    background: #d0e9f1c7;
    padding: 10px;
}

.catalog .table-btns .table {
    margin-bottom: 20px;
    width: 100%;
}

.catalog .table-btns .table tr:first-child td {
    border-top: none;
}

.catalog .table-btns .table tr td{
    border-color: #9088d8;
    padding: 8px;
    padding-left: 0px;
}

.catalog .table-btns .table tr td:last-child{
    font-weight: 500;
}

.catalog .edit-delete-btn{
    display: flex;
    justify-content: flex-end;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1300px) {

    /*body{*/
    /*    background: red !important;*/
    /*}*/
    .c-header ul.d-none.d-lg-block {
        margin-right: 25%;
    }
    .c-header ul.d-none.d-lg-block h2 {
        width: 350px;
    }


    /* One catalog */
    .catalog{
        margin-bottom: 22px;
        width: 48.5%;
    }

    .catalog:nth-child(odd) {
        margin-right: 1%;
    }
    .catalog:nth-child(even) {
        margin-left: 1.5%;
    }


    .catalog .image{
        width: 55%;
        background-size: 100% 100% !important;
        background-repeat: no-repeat;
    }

    .catalog .table-btns {
        width: 45%;
        padding: 10px 10px 10px 12px;
    }

    .catalog .table-btns .table {
        margin-bottom: 10px;
        width: 100%;
    }

    .catalog .table-btns .table tr td{
        padding: 5px;
        font-size: 14px;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {

    /*body{*/
    /*    background: green !important;*/
    /*}*/

    .c-header ul.d-none.d-lg-block {
        margin-right: 16%;
    }
    .c-header ul.d-none.d-lg-block h2 {
        width: 350px;
    }

    /* One catalog */
    .catalog{
        width: 48%;
    }

    .catalog:nth-child(odd) {
        margin-right: 1.5%;
    }
    .catalog:nth-child(even) {
        margin-left: 1.5%;
    }

    .catalog .image{
        width: 55%;
        background-size: 100% 100% !important;
        background-repeat: no-repeat;
    }

    .catalog .table-btns {
        width: 45%;
        padding: 8px;
    }

    .catalog .table-btns .table {
        margin-bottom: 10px;
        width: 100%;
    }

    .catalog .table-btns .table tr td{
        padding: 5px;
        font-size: 13px;
    }
}

@media (min-width: 992px) and (max-width: 1099px) {

    /*body{*/
    /*    background: red !important;*/
    /*}*/
    .c-header ul.d-none.d-lg-block {
        margin-right: 10%;
    }
    .c-header ul.d-none.d-lg-block h2 {
        width: 300px;
    }
    .btnAdd{
        margin-left: 30%;
    }
    /* One catalog */
    .catalog{
        width: 48%;
    }

    .catalog:nth-child(odd) {
        margin-right: 1.5%;
    }
    .catalog:nth-child(even) {
        margin-left: 1.5%;
    }

    .catalog .image{
        width: 55%;
        background-size: 100% 100% !important;
        background-repeat: no-repeat;
    }

    .catalog .table-btns {
        width: 45%;
        padding: 8px;
    }

    .catalog .table-btns .table {
        margin-bottom: 10px;
        width: 100%;
    }

    .catalog .table-btns .table tr td{
        padding: 5px;
        font-size: 10px;
    }
}




.dataTable-td-image a{
    display: flex;
    width: 100px !important;
    height: 50px !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
}

table .room-name {
    font-weight: 500;
    font-size: 16px;
}


/** room modal add room name and image **/
#add-model form #message p{
    color: red;
    padding-bottom: 0px;
    padding-top: 5px;
    margin: 0px;
}
#add-model form #message span{
    color: red;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

/** ------------------------------------------ **/

.term_payment_check_ok {
    cursor: pointer;
    color: green;
    padding: 3px;
    transition: .2s all;
}

.term_payment_check_no {
    width: 15rem;
    cursor: pointer;
    color: red;
    padding: 3px;
    transition: .2s all;
}

.term_payment_check_ok:hover,
.term_payment_check_no:hover{
    box-shadow: 1px 1px 8px gray;
    border-radius: 50%;
}
